@page "/Ingredients"
@inherits IngredientsBase

<MudPaper>
    <MudContainer>
        <MudText>
            Food
        </MudText>
        <MudGrid>
            <MudText Typo="Typo.h5">Taste</MudText>
            <MudItem>
                <MudField Label="Desired Taste" Variant="Variant.Outlined"></MudField>
            </MudItem>
            <br/>
        </MudGrid>
        <MudGrid>
            <MudButton>Veggies</MudButton>
            <MudItem>
                
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudButton>Meats</MudButton>
            <MudItem>
                
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudButton>Fruits</MudButton>
            <MudItem>
                
            </MudItem>
        </MudGrid> 
        <MudGrid>
            <MudButton>Seafoods</MudButton>
            <MudItem>
                
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudButton>Others</MudButton>
            <MudItem>
                
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudButton>Drinks</MudButton>
            <MudItem>
                
            </MudItem>
        </MudGrid>
        <div class="float-end">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Buzz</MudButton>
        </div>
    </MudContainer>
</MudPaper>